<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Private-Share</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                alert("Success!!!")
            });
        </script>

    </head>

    <body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand">Private-Share</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <li><a href="/requestFile">Download</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <section class="banner">
        <div class="container">
            <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="food-item">
                        <h2>Welcome</h2>
                        <p>Privacy has been a much discussed topic over the past few years. Frequent data breaches and privacy concerns have made government entities to introduce many regulations in order to ensure transparency in the way data is being handled and used. Regulations introduced around the globe requires data to be stored and shared in a secure and privacy-preserving fashion. These regulations come with huge implications in the case of non-compliance. This thus prevents the widescale sharing of data. Isolating data prevents collaborative research. So, in this paper, we present a framework, that would enable access to the data for intended recipients without any breach of privacy. We use the enhancements in InterPlanetary File System (IPFS) and security aspects of the Ethereum network to build up a tool that would enable the sharing of large scale data in a secure and privacy-preserving fashion.</p>
                  </div>
            </div>
        </div>
    </section>
    </body>
</html>