<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Private-Share</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    </head>

    <body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand">Private-Share</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <li><a href="/requestFile">Download</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <section class="banner">
        <div class="container">
            <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="food-item">
                        <h2>Upload</h2>
                         <div class="text-content ">
                            <form method="post" enctype="multipart/form-data" action="/upload">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file"  name="file" multiple class="custom-file-input" id="customFile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload</button>
                                </div>
                            </form>
                         </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
    </body>
</html>