<!DOCTYPE html>
<html>
    <head>
        <title>Private-Share</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='web3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='addHash.js') }}"></script>
    </head>
    <body>
<!--        <a href="/account">Click here to create an account</a>-->
        <form action="/upload" method="post" enctype="multipart/form-data">
            Choose the file: <input type="file" name="file"/><BR>
            <input type="submit" value="Upload"/>
        </form>
    </body>
</html>